<table [dataSource]="dataSource" mat-table> <!-- Utilisez [dataSource]="dataSource" -->
    <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let booking" mat-cell> {{ booking.id }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell> Date</th>
        <td *matCellDef="let booking" mat-cell> {{ booking.date }} </td>
    </ng-container>

    <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell> User</th>
        <td *matCellDef="let booking" mat-cell> {{ booking.user }} </td>
    </ng-container>

    <ng-container matColumnDef="destination">
        <th *matHeaderCellDef mat-header-cell> Destination</th>
        <td *matCellDef="let booking" mat-cell> {{ booking.destination }} </td>
    </ng-container>

    <!-- Définissez les autres colonnes de la même manière -->

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
